!!!5
%html
  %head
    %style{ :type => "text/css" }
      :sass
        body
          background-color: #fff
          font-family: Helvetica, Arial, san-serif
          text-align: center

        h1
          font-size: 24px

        #main
          background-color: #ddd
          border-top-left-radius: 20px
          border-top-right-radius: 20px
          border-bottom-right-radius: 20px
          border-bottom-left-radius: 20px
          box-shadow: #000 0px 0px 5px
          margin: 0 auto 10px auto
          padding: 20px
          overflow: hidden
          width: 400px

        dl
          margin: 0 auto
          overflow: hidden
          text-align: left
          width: 80%
        dt
          clear: left
          float: left
          text-align: right
          width: 150px
        dd
          float: left
          margin: 0 0 0 10px

        #footer
          color: #bbb
          font-size: 11px
          margin: 0 auto
          text-align: center

    %title RaiderStat
  %body
    = yield

