!!!5
%html
  %head
    %style{ :type => "text/css" }
      :sass
        body
          background-color: #fff
          font-family: Helvetica, Arial, san-serif
          text-align: center

        h1
          font-size: 24px
          margin: 60px 0 20px 0

        #main
          background-color: #ddd
          border: solid 5px rgba(255, 255, 255, 0.7)
          border-top-left-radius: 20px
          border-top-right-radius: 20px
          border-bottom-right-radius: 20px
          border-bottom-left-radius: 20px
          -moz-box-shadow:    #333 0px 0px 4px
          -webkit-box-shadow: #333 0px 0px 4px
          box-shadow:         #333 0px 0px 4px
          color: #222
          font-size: 18px
          margin: 0 auto 10px auto
          overflow: hidden
          width: 370px
          text-shadow: #fff 0 -1px 0px

        #pad
          padding: 60px 40px 40px 40px

        #bottom
          background-color: #ccc
          height: 80px

        dl
          margin: 0 auto 15px
          overflow: hidden
          text-align: left
          width: 80%
        dt
          clear: left
          float: left
          text-align: right
          width: 150px
        dd
          float: left
          margin: 0 0 0 20px

        #footer
          color: #bbb
          font-size: 11px
          margin: 0 auto
          text-align: center

    %title RaiderStat
  %body
    = yield

